
@media (max-width: 1199px)
			.baner
						background: url('https://avatanplus.com/files/resources/original/58e0bb7e6f8d515b2ddc65f9.jpg') center/cover no-repeat fixed
						.Bootstrap_1, .sass, .animation, .flex, .coder
									@include left2
									
						.carousel

									margin: 0 auto
@media (max-width: 992px)
			.baner
						background: url('https://avatanplus.com/files/resources/original/58e0bb7e6f8d515b2ddc65f9.jpg') center/cover no-repeat fixed
						.Bootstrap_1, .sass, .animation, .flex, .coder
									@include left2
									&:before
												content: ''
												background-color: red
												display: none
									&:after
												content: ''
												background: none
												display: none
						.carousel

									margin: 0 auto
@media (max-width: 576px)
			.baner
						min-height: 100%
@media (max-width: 320px)
			.baner
						height: 100%
									
						.text
									margin-top: 35px !important


			main.photos
						
						.galery
						
									h2
												color: #f858a0
												font-family: verdana
												font-size: 25px	
						.img-p
									
						&:last-child
									border: none
									.header-text
												@include header
												background-color: $bootstrap-color
									.header-text2
												@include header
												background-color: $css-color
												.big
															height: 5%
															width: 5%
												.bigboy
															@include header-text
									.header-text3
												@include header
												background-color: $sass-color
												.big2
															height: 10%
															width: 10%